﻿<div>
    <div class="responds">
        @foreach (var item in Model)
        {
        <div class="respond">
            <div class="name"><h2>@item.Name</h2></div>
            <div class="time"><p>@item.Date</p></div>
            <div class="text"><p>@item.Text</p></div>
        </div>
        }
    </div>
        
    <div class="new-respond">
        @using (Html.BeginForm("gGuest", "Home", FormMethod.Post))
        {
            <p>
                @Html.Label("Name", "Имя")<br />
                @Html.TextBox("Name")
            </p>
            <p>
                @Html.Label("Text", "Отзыв")<br />
                @Html.TextArea("Text", "", new { type = "number" })
            </p>
            <p>
                <input type="submit" value="Отправить" />
            </p>
        }
    </div>
</div>