﻿<div>
    @using (Html.BeginForm("qQuestions", "Home", FormMethod.Get))
    {
        @Html.RadioButton("color", "red")
        <span>красный</span> <br />
        @Html.RadioButton("color", "blue")
        <span>синий</span> <br />
        @Html.RadioButton("color", "green", true)
        <span>зеленый</span> <br />
        <p>
            <input type="submit" value="Отправить" />
        </p>
    }
    @using (Html.BeginForm("qQuestions", "Home", FormMethod.Post))
    {
        @Html.ListBox("Colors", new MultiSelectList(new string[] { "red", "blue", "green" }))
        <p><input type="submit" value="Отправить" /></p>
    }

</div>
