﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Библиотека</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="@Url.Content("~/Content/NavScript.js")" type="text/javascript"></script>
</head>
<body>
    <div class="navbar" id="navbar">

        <span class="logo"><img src="~/Content/logo.png" alt="logo" />Библиотека</span>
        <span class="link">@Html.ActionLink("Главная", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</span>
        <span class="link">@Html.ActionLink("Гостевая", "Guest", "Home", new { area = "" }, new { @class = "navbar-brand" })</span>
        <span class="link">@Html.ActionLink("Анкета", "Questions", "Home", new { area = "" }, new { @class = "navbar-brand" })</span>
    </div>
    <div class="body-content">
        @RenderBody()
    </div>
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - мое приложение ASP.NET</p>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
